:root {
    /* Note: these CSS variables are now obtained form the configuration and
       dynamically inserted */
    /* --first-color: #60E0FF;
    --second-color: #FF8000; */

    --foreground-color: #000000;
    --background-color: #FFFFFF;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

/* dark theme */
html.dark {
    --first-color: #007692;
    --second-color: #cc6600;

    --foreground-color: #FFFFFF;
    --background-color: #181a1b;
}
html.dark button, html.dark textarea, html.dark select {
    background-color: #181a1b;
    border-top-color: #736b5e;
    border-left-color: #736b5e;
    border-right-color: #4c473e;
    border-bottom-color: #4c473e;
    color: white;
}

div.field {
    display: flex;
    align-items: flex-start;
}
.square {
    width: 24px;
    height: 24px;
    border-radius: 9999px;
}
.square--1, html.dark .square--1 {
    background-color: var(--first-color);
}
.square--2, html.dark .square--2 {
    background-color: var(--second-color);
}
table {
    display: inline-block;
    border:none;
    border-collapse: collapse;
}

/* History table */
table.history {
    min-width: 180px;
}
table.history th {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: black 1px solid;
}
table.history td + td, table.history th + th {
    border-left: black 1px solid;
}
html.dark table.history th {
    border-bottom-color: grey;
}
html.dark table.history td + td, html.dark table.history th + th {
    border-left-color: grey;
}
/* header width */
table.history th:nth-of-type(2) {
    width: 124px;
}
table.history th:nth-of-type(3) {
    width: 70px;
}
/* body width */
table.history td:nth-of-type(2), table.history td:nth-of-type(3) {
    width: 60px;
}

/* general-info */
.general-info {
    margin-left: auto;
}

/* play board */
table.board {
    margin-right: auto;
}
table.board td {
    line-height: 0;
}
table.board .square {
    width: calc(min(4.7svh, 4.7svw) - 2px);
    height: calc(min(4.7svh, 4.7svw) - 2px);
    border-radius: 999px;
}
table.board .square--highlight {
    background-color: var(--hightlight-color);
}

.game-status-modal button {
    min-width: 50px;
    min-height: 50px;
}

.game-status-modal {
    max-width: min(45svh, 45svw);
}