@import "./font.css";

:root {
    /* Note: these CSS variables are now obtained form the configuration and
       dynamically inserted. See the key-text `styleSheet.insertRule`. */

    --first-color: #000;
    --first-highlight-color: #0F0;
    --second-color: #FFF;
    --second-highlight-color: #0F0;

    --foreground-color: #000000;
    --background-color: #FFFFFF;
    --board-color: #f0f0f0;
}

html {
    font-family: RobotoFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

h1 {
    font-family: PrismaFont;
    font-size: 55px;
    margin: 0;
}

.square {
    background-color: #e2e2e2;
    border-color: #e3e3e3 #9a9a9a #9a9a9a #e3e3e3;
}

html.dark .square {
    background-color: #444;
}

/* dark theme */
html.dark {
    --foreground-color: #FFF;
    --background-color: #181a1b;
    --board-color: #333;
}
html.dark button, html.dark textarea, html.dark select {
    background-color: #181a1b;
    border-color: #736b5e #4c473e #4c473e #736b5e;
    color: white;
}

div.field {
    display: flex;
    align-items: flex-start;
}
.square {
    width: 24px;
    height: 24px;
    border-radius: 999px;
}
.square--1, html.dark .square--1 {
    background-color: var(--first-color);
}
.square--2, html.dark .square--2 {
    background-color: var(--second-color);
}
table {
    display: inline-block;
    border: none;
    border-collapse: collapse;
}

/* History table */
table.history {
    min-width: 220px;
}
table.history th {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: black 1px solid;
}
table.history td + td, table.history th + th {
    border-left: black 1px solid;
}
html.dark table.history th {
    border-bottom-color: grey;
}
html.dark table.history td + td, html.dark table.history th + th {
    border-left-color: grey;
}
/* header width */
table.history th:nth-of-type(2) {
    width: 124px;
}
table.history th:nth-of-type(3) {
    width: 70px;
}
/* body width */
table.history td:nth-of-type(2), table.history td:nth-of-type(3) {
    width: 60px;
}

/* general-info */
.general-info {
    margin-left: auto;
}

/* play board */
table.board {
    background-color: var(--board-color);
    margin-right: auto;
}
table.board td {
    line-height: 0;
}
table.board .square {
    width: calc(min(4.7svh, 4.7svw) - 2px);
    height: calc(min(4.7svh, 4.7svw) - 2px);
}
table.board .square--highlight.square--1 {
    border-color: var(--first-highlight-color);
}
table.board .square--highlight.square--2 {
    border-color: var(--second-highlight-color);
}

.game-status-modal button {
    min-width: 45px;
    min-height: 45px;
}

.game-status-modal {
    max-width: min(45svh, 45svw);
    opacity: 0.8;
}
